* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: var(--font-color);
} body {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    display: grid;
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    "sobre sobre sobre sobre"
    "works works works works"
    "footer footer footer footer";
    grid-template-columns: repeat(4,1fr);
} a {
    text-decoration: none;
    cursor: pointer;
} ul {
    list-style: none;
} img {
    max-width: 100%;
}