*::-webkit-scrollbar{
    width: 0.875rem;
}
*::-webkit-scrollbar-track{
    background: var(--background);
}
*::-webkit-scrollbar-thumb{
    background-color: var(--color);
    border-radius: 0.625rem;
    border: 0.188rem solid var(--color);
}